<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shakir.hellowidget"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
     <receiver android:name="com.vizury.widget.CentralWidget" android:label="@string/app_name">
         <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
         <meta-data android:name="android.appwidget.provider" android:resource="@xml/central_widget_provider"/>
     </receiver>
     
     <!-- Service to perform web API queries -->       
    <service android:name=".widget.MovieSearchWidget$UpdateService" /> 
    </application>

</manifest>
